.profile-form-input {
    border: 1px solid black;
    color: black;
}

.profile-form-input::placeholder {
    color: #7C4D3C;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: black;
}

#id_default_country option:first-child {
    color: #7C4D3C;
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

.order-history a {
    color: #7C4D3C;
    text-decoration: none;
    border-bottom: 1px solid #7C4D3C;
}