{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">

        <div class="col-12 my-4 ps-4">
            <h2 class="mb-4">Shopping Basket</h2>
            <hr>
        </div>

        <div class="row">
            <div class="col">
                {% if basket_items %}
                    <div class="table-responsive-rounded">

                        <table class="table table-sm table-borderless">

                            <thead>
                                <tr>
                                    <th scope="col">Product Information</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col text-center">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in basket_items %}
                                <tr>
                                    <!-- Image -->
                                    <td class="p-3"> 
                                        {% if product.main_image %}
                                            <img src="{{ item.product.main_image.url }}" alt="{{ item.product.name }}" width="80">
                                        {% else %}
                                            <img src="/media/products/product-placeholder.jpg" alt="{{ item.product.name }}" width="80">
                                        {% endif %}
                                    </td>
                                    <!-- Name & SKU -->
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku }}</p>
                                    </td>
                                    <!-- Price -->
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </td>
                                    <!-- Qty -->
                                    <td id="qty-col">
                                        <form method="POST" action="{% url 'update_basket' item.item_id %}" class="form update-form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <!-- (-) Button -->
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span class="quantity-icon">
                                                                <i class="fa-solid fa-circle-minus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <!-- Quantity Input -->
                                                    <input type="number" class="form-control form-control-sm rounded-0 qty_input quantity-input" 
                                                        name="quantity" value="{{ item.quantity }}" min="1" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                    <!-- (+) Button -->
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span class="quantity-icon">
                                                                <i class="fa-solid fa-circle-plus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- Update & Remove Links-->
                                        <a class="update-link"><small>Update</small></a>
                                        <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                    </td>
                                    <!-- Subtotal -->
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr> 
                            {% endfor %}

                            <tr>
                                <td colspan="5" class="pt-5 text-end">
                                    <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    <h5><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h5>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="5" class="text-end">
                                    <a class="btn btn-lg btn-white text-uppercase" href="{% url 'products' %}">Keep Shopping</a>
                                    <a class="btn btn-lg btn-black text-uppercase" href="{% url 'checkout' %}">Secure Checkout</a>
                                </td>
                            </tr>

                        </table>

                    </div>
                {% else %}
                    <!-- Displays when basket is empty -->
                    <p class="lead mt-5 mb-3">Your basket is currently empty...</p>
                    <a class="btn btn-lg btn-black" href="{% url 'products' %}">Keep Shopping</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">

    // Update quantity button
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    //Remove item and reload
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken,};

        $.post(url, data)
         .done(function() {
            location.reload();
         });
    })

</script>
{% endblock %}