/* GLOBAL */

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    padding-bottom: 60px;
}

.general-link {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.general-link:hover {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    border: none;
}

.arrow-icon {
    font-weight: 100;
}

/* Buttons */

.shop-now-button {
    color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}

.btn-black {
    background-color: black;
    color: white;
    border-radius: 0%;
}

.btn-black:hover {
    background-color: white;
    color: black;
    border-radius: 0%;
    border: 2px solid black;
}

/* from Bulma */
.icon {
    color: black;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}

.icon:hover {
    color: #5B3822;
}

/* MAIN HEADER */

.logo-img img {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

.nav-border {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.navbar-collapse {
    background-color: none;
    position: relative;
}

.navbar-toggler-icon {
    color: black;
    font-size: 2rem;
}

.active {
    font-weight: 400;
}

nav a:hover {
    text-decoration: underline;
}

/* HOMEPAGE */

#hero-container {
    background: url('/media/SyneCandles-4.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    display: block;
    padding: 0;
}

/* SHOP */

.card-img-top {
    object-fit: contain;
}

.sort-selector {
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    padding: 5px 2px;
}

.quantity-input {
    border: 2px solid black;
    display: block;
}

/* FOOTER */

footer {
    background-color: #321F18;
    color: #fff;
}


/* ------------------------- MEDIA QUERIES */

/* Medium Screens and below */
@media (max-width: 992px) {

    body {
        padding-top: 119px; /* Pushes the body to not overlap with the header */ 
    }
}

/* Large screens up*/ 
@media (min-width: 992px) {

    body {
        padding-top: 153px; /* Pushes the body to not overlap with the header & navbar */ 
    }
}