/* GLOBAL */

html {
    height: 100%;
}

body {
    min-height: 100vh;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    padding-bottom: 100px; /* pushes footer down */
}

.general-link {
    color: #7C4D3C;
    text-decoration: none;
    border-bottom: 1px solid #7C4D3C;
}

.general-link:hover {
    color: #7C4D3C;
    font-weight: bolder;
    text-decoration: none;
    border: none;
}

/* Buttons */

.shop-now-button {
    color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}

.btn-black {
    background-color: black;
    color: white;
    text-transform: uppercase;
    border-radius: 0%;
    border: 2px solid black;
    margin: 5px 10px;
}

.btn-black:hover {
    background-color: white;
    color: black;
    border-radius: 0%;
    border: 2px solid black;
    margin: 5px 10px;
}

.btn-white {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 0%;
    margin: 5px 10px;
}

.btn-white:hover {
    background-color: #5B3822;
    color: white;
    border-radius: 0%;
    border: 2px solid #5B3822;
    margin: 5px 10px;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 75px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Icons */

.icon /* from Bulma */ {
    color: black;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}

.icon:hover {
    color: #7C4D3C;
}

.arrow-icon {
    font-weight: 100;
}

.quantity-icon {
    padding: 0;
}

.quantity-icon:hover {
    color: #7C4D3C;
}

/* MAIN HEADER (Search bar, Logo, User/Basket & Navbar) */

.logo-img img {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

.nav-border {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.navbar-collapse {
    background-color: none;
    position: relative;
}

.navbar-toggler-icon {
    color: black;
    font-size: 2rem;
}

.active {
    font-weight: 400;
}

nav a:hover {
    text-decoration: underline;
}

#user-dropdown {
    background-color: rgba(255, 253, 249, 0.85);
    border-radius: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
}

#user-dropdown a:hover {
    text-decoration: underline;
}

#user-dropdown a::after {
    font-weight: 400;
    color: white;
    background-color: #7C4D3C;
}

/* HOMEPAGE */

#hero-container {
    background: url('/media/SyneCandles-4.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    display: block;
    padding: 0;
}

/* SHOP */

.card-img-top {
    object-fit: contain;
}

.sort-selector {
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    padding: 5px 2px;
}

.quantity-input {
    border: 1px solid black;
    text-align: center;
}

.update-link {
    color: #5B3822;
}

.update-link:hover {
    color: #5B3822;
    font-weight: bolder;
    text-decoration: none;
}

.remove-item:hover {
    color: red;
    font-weight: bolder;
    text-decoration: none;
}

/* BASKET */

.update-link, 
.remove-item {
    cursor: pointer;
}

.update-form {

}

/* ALLAUTH FORM FORMATTING */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
}

.allauth-form-inner-content input {
    border: 1px solid black;
    border-radius: 0;
}

.allauth-form-inner-content input::placeholder {
    color: #7C4D3C;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    border-radius: 0%;
    border: 2px solid black;
    border-radius: 0;
    padding: 0.3rem 0.7rem;
    margin: 5px 10px;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    background-color: white;
    color: black;
    border-radius: 0%;
    border: 2px solid black;
    margin: 5px 10px;
}


/* FOOTER */

footer {
    background-color: #321F18;
    color: #fff;
}


/* ------------------------- MEDIA QUERIES */

/* Small Screens only */

@media (max-width: 425px) {

    /* toasts */
    .message-container {
        max-width: 300px; /* fits on the smaller screen */
    }

    #view-basket-btn {
        margin-bottom: 10px; /* creates margin between 'view bag' & 'checkout' btn when stacked */
    } 

}

/* Medium Screens and below */
@media (max-width: 992px) {

    body {
        padding-top: 119px; /* Pushes the body to not overlap with the header */ 
    }

    /* basket */

    #qty-col {
        /* quality input number not visible on sm screens - add attributes to make fit */
    }
}

/* Large screens up*/ 
@media (min-width: 992px) {

    body {
        padding-top: 153px; /* Pushes the body to not overlap with the header & navbar */ 
        
    }
}