{% load static %}

<!doctype html>
<html lang="en">

  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block css %}
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Macondo&family=Oswald:wght@200..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9d55bcde0.js" crossorigin="anonymous"></script>
    {% endblock %}

    <title>Syne Candles</title>
  </head>
  
  <body>

    <header class="container-fluid fixed-top bg-white">

      <!-- TOP BAR -->
      <div class="row" id="topnav"> 

        <div class="col-4 my-auto py-1 py-lg-0">
           <!-- Mobile Menu Toggle -->
          <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
          </button> 
          <!-- Search Bar (for lg screens and up)-->
          <form method="GET" action="" class="d-none d-lg-flex  searchbar-container">
            <div class="input-group w-75 mx-auto">
              <input type="text" name="q" class="form-control rounded-5">
              <button class="btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </form>
        </div>

        <!-- Logo -->
        <div class="col-4 my-auto py-1 py-lg-0 text-center">
          <a href="{% url 'home' %}" class="navbar-brand mx-auto logo-img text-center">
            <img src="/media/syne-logo.png" alt="syne-logo" width="100">
          </a>
        </div>

        <!-- Account & Shopping Cart-->
        <div class="col-4 my-auto py-1 py-lg-0 text-end text-md-center icon-group">
          <a href="" class="nav-link icon me-md-2" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end border-0" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
              {% if request.user.is_authenticated %}
                <a href="" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
          </div>
            
          <a href="" class="nav-link icon">
              <i class="fa-solid fa-bag-shopping"></i>
          </a>
        </div>
        
      </div>

      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse justify-content-center nav-border" id="navbarNavAltMarkup">
          <div class="navbar-nav text-center">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            <a class="nav-link" href="{% url 'products' %}">Shop</a>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Reviews</a>
            <a class="nav-link" href="#">Contact</a>

            <div class="d-inline-block d-lg-none text-center py-2">
              <form method="GET" action="" class="text-center px-3 searchbar-container">
              <div class="input-group mx-auto d-block">
                <input type="text" name="q" class="from-control rounded-5">
                <button class="btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </nav>

    </header>

    {% if messages %}
      <div class="message-container"></div>
    {% endif %}
    
    {% block content %}
    {% endblock %}

    <footer class="fixed-bottom">
      <div class="container my-auto">
        <div class="row">
          <div class="col-12 text-center py-3">
            &copy; 2025 Syne Candles, All rights reserved
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    {% block postloadjs %}
    {% endblock %}
  </body>

</html>