{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="my-5" id="product-image-container">
                {% if product.main_image %}
                    <a href="{{ product.main_image }}" target="_blank">
                        <img src="{{ product.main_image }}" alt="{{ product.name }}" class="card-img-top rounded-0">
                    </a>
                {% else %}
                    <a href="">
                        <img src="{{ MEDIA_URL }}product-placeholder.jpg" alt="{{ product.name }}" class="card-img-top rounded-0">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="mb-5 mt-md-5" id="product-detail-container">
                <!-- Product Info -->
                <h4 class="mb-0">{{ product.name }}</h4>
                
                <div class="row">
                    <div class="col-6">
                        <p class="text-left">£{{ product.price }}</p>
                    </div>
                    <div class="col-6 text-end">
                        {% if product.rating %}
                            <small><i class="fa-solid fa-star"> {{ product.rating }}</i></small>
                        {% endif %}
                    </div>
                </div>
                
                <hr class="my-0">

                <p class="mt-3">{{ product.subtitle }}</p>
                <p>{{ product.description }}</p>

                {% if product.is_candle %}
                    <p>Our candles are made by hand in Cardiff, UK with soy wax and essential oils - that’s it. We love simple things.</p>
                    <ul>
                        <li>100% sustainably produced soy wax </li>
                        <li>100% pure, natural essential oils</li>
                        <li>No additives</li>
                        <li>Biodegradable labels</li>
                        <li>A longer, cleaner burn than paraffin wax </li>
                        <li>Handmade in UK</li>
                    </ul>
                {% endif %}
            </div>

            <!-- Add to cart button -->
            <form method="POST" action="">
                <button type="submit" class="btn btn-lg btn-black">Add to bag</button>
            </form>

            <!-- Reviews section -->
            <div class="mt-4 mb-4">
                <h5>Customer Reviews:</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}