{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2>All Products</h2>
        </div>
    </div>
    <div class="row py-auto">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1"></div>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
                        <div class="card h-100 border-0 rounded-0">
                            {% if product.image %}
                                <a href="">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top rounded-0">
                                </a>
                            {% else %}
                                <a href="">
                                    <img src="{{ MEDIA_URL }}product-placeholder.jpg" alt="{{ product.name }}" class="card-img-top">
                                </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer pt-0 border-0 bg-white">
                                <div class="row my-auto">
                                    <div class="col-6">
                                        <p class="text-left">£{{ product.price }}</p>
                                    </div>
                                    <div class="col-6 text-end">
                                        {% if product.rating %}
                                            <small><i class="fa-solid fa-star"> {{ product.rating }}</i></small>
                                        {% endif %}
                                    </div>
                                    <form method="POST" action="">
                                        <button type="submit" class="btn btn-sm btn-black">Add to bag</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}