{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2>All Products</h2>
        </div>
    </div>
    <div class="row py-auto">
        <div class="product-container col-10 offset-1">
            <div class="row my-4">
                <div class="col-12 w-50 align-items-end" id="product-sort">
                    <div class="sort-select-wrapper">
                        <select name="sort-selector" id="sort-selector" class="custom-select rounded-0 border{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price, low to high</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price, high to low</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name, A-Z</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name, Z-A</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating, low to high</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating, high to low</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
                        <div class="card h-100 border-0 rounded-0">
                            {% if product.main_image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top rounded-0">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ MEDIA_URL }}product-placeholder.jpg" alt="{{ product.name }}" class="card-img-top rounded-0">
                                </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer pt-0 border-0 bg-white">
                                <div class="row my-auto">
                                    <div class="col-6">
                                        <p class="text-left">£{{ product.price }}</p>
                                    </div>
                                    <div class="col-6 text-end">
                                        {% if product.rating %}
                                            <small><i class="fa-solid fa-star"> {{ product.rating }}</i></small>
                                        {% endif %}
                                    </div>
                                    <form method="POST" action="">
                                        <button type="submit" class="btn btn-sm btn-black">Add to bag</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}