{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 offset-lg-2">
                <p class="mt-4 mb-0"><i class="fa-solid fa-arrow-left-long arrow-icon"></i> <a class="general-link" href="{% url 'products' %}">All Products</a></p>
            </div>
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <!-- Product Image -->
            <div class="my-5" id="product-image-container">
                {% if product.main_image %}
                    <img src="{{ product.main_image.url }}" alt="{{ product.name }}" class="card-img-top rounded-0">
                {% else %}
                    <img src="/media/products/product-placeholder.jpg" alt="{{ product.name }}" class="card-img-top rounded-0">
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="mb-5 mt-md-5" id="product-detail-container">
                <!-- Product Info -->
                <h4 class="mb-0">{{ product.name }}</h4>
                
                <div class="row">
                    <div class="col-6">
                        <p class="text-left">£{{ product.price }}</p>
                    </div>
                    <div class="col-6 text-end">
                        {% if product.rating %}
                            <small><i class="fa-solid fa-star"> {{ product.rating }}</i></small>
                        {% endif %}
                    </div>
                </div>
                
                <hr class="my-0">

                <p class="mt-3">{{ product.subtitle }}</p>
                <p>{{ product.description }}</p>

                {% if product.is_candle %}
                    <p>Our candles are made by hand in Cardiff, UK with soy wax and essential oils - that’s it. We love simple things.</p>
                    <ul>
                        <li>100% sustainably produced soy wax </li>
                        <li>100% pure, natural essential oils</li>
                        <li>No additives</li>
                        <li>Biodegradable labels</li>
                        <li>A longer, cleaner burn than paraffin wax </li>
                        <li>Handmade in UK</li>
                    </ul>
                {% endif %}
            </div>

            <!-- Add to cart button -->
            <form method="POST" action="{% url 'add_to_basket' product.id %}">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <div class="input-group">
                            <!-- Quantity input (with +/- buttons) -->
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                    <span class="icon">
                                        <i class="fa-solid fa-circle-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <span class="w-25 align-middle">
                                <input type="number" class="form-control rounded-0 qty_input quantity-input" name="quantity" value="1" min="1" id="id_qty_{{ product.id }}">
                            </span>
                            <div class="input-group-append">
                                <button class="increment-qty btn" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                    <span class="icon">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </span>
                                </button>
                            </div>
                            <button type="submit" class="btn btn-sm btn-black">Add to bag</button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
                </div>
            </form>

            <!-- Reviews section -->
            <div class="mt-4 mb-4">
                <h5>Customer Reviews:</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}